openapi: 3.1.0

info:
  title: FRS OS API
  version: 1.0.0
  description: |
    The canonical REST API for People (real estate agents, loan originators,
    staff, leadership) and Places (offices, regions, departments). Sites are a
    sub-resource owned by a Person or a Place.

    Architecture: a Backend-For-Frontend projection over WP `user_meta`, BP
    `xprofile` data, BP groups, and WP multisite. Mobile apps, LLM agents,
    and partner integrations call this — they should not call the underlying
    BuddyPress or WP REST APIs directly.

    ## Naming policy
    - Native WP/BP key when one exists (`description`, `facebook`, `first_name`).
    - Industry-standard names for the rest (`ltm_sales_volume`, `nmls`, `dre_license`).
    - No branded prefixes — the profile is clean and data portable across systems.
    - Vendor names appear only as link-back metadata (`courted_id`, `modex_id`).

    ## Auth
    - **Read**: present an API key via header `X-FRS-Api-Key` (configured in
      `wp-config.php`). Admins (capability `read`) get read access without a key.
    - **Write**: WordPress admin session required (capability `edit_users`).
      API keys do NOT grant write access.
  contact:
    name: Full Realty Services
    url: https://fullrealtyservices.com
  license:
    name: Proprietary

servers:
  - url: https://myhub21.com
    description: Production

tags:
  - name: People
    description: Agents, loan originators, staff.
  - name: Places
    description: Offices, regions, departments — BP groups.
  - name: Sites
    description: WP multisite blogs owned by a Person or Place.
  - name: Docs
    description: Self-served documentation routes (open access).

security:
  - apiKey: []

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-FRS-Api-Key
      description: |
        Static read-only API key. Issued by the site admin via
        `wp-config.php` constant `FRS_PAPI_API_KEYS` (comma-separated list).
        Write endpoints require WordPress session auth instead.

  schemas:
    Error:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
        data:
          type: object
          properties:
            status: { type: integer }

    Avatar:
      type: object
      properties:
        thumb:         { type: string, format: uri }
        full:          { type: string, format: uri }
        attachment_id: { type: integer }

    Place:
      type: object
      properties:
        id:            { type: integer }
        name:          { type: string, example: "Walnut" }
        slug:          { type: string }
        type:          { type: string, enum: [office, region, department, project] }
        parent:
          oneOf:
            - type: 'null'
            - type: object
              properties:
                id:   { type: integer }
                name: { type: string }
                type: { type: string }
        description:   { type: string }
        address:       { type: string }
        phone:         { type: string }
        photo_url:     { type: string, format: uri }
        member_count:  { type: integer }
        members_url:   { type: string, format: uri }
        sites:
          type: array
          items: { $ref: '#/components/schemas/Site' }

    Site:
      type: object
      description: A WordPress multisite blog owned by a Person or a Place.
      properties:
        id:              { type: integer, description: "blog_id" }
        name:            { type: string }
        description:     { type: string }
        url:             { type: string, format: uri }
        admin_url:       { type: string, format: uri }
        kind:            { type: string, enum: [agent, office, region, marketing, dashboard, other] }
        screenshot_url:  { type: string, format: uri, description: "Static-site screenshot, set via webhook" }
        rebuild_status:  { type: string, enum: [queued, building, ready, failed] }
        last_rebuilt_at: { type: string, format: date-time }
        owner:
          type: object
          properties:
            user_id:  { type: integer }
            group_id: { type: integer }
        registered:      { type: string, format: date-time }
        last_updated:    { type: string, format: date-time }

    PersonProfile:
      type: object
      description: |
        Canonical flat shape returned by `/people/{id}` and embedded in
        list responses. Empty objects/keys are omitted.
      properties:
        id:              { type: integer, description: "wp_user_id" }
        user_login:      { type: string }
        user_nicename:   { type: string }
        user_email:      { type: string, format: email }
        user_registered: { type: string, format: date-time }
        user_url:        { type: string, format: uri }
        display_name:    { type: string }
        member_types:
          type: array
          items: { type: string, example: "sales_associate" }
        avatar:       { $ref: '#/components/schemas/Avatar' }
        name:
          type: object
          properties:
            first:    { type: string }
            last:     { type: string }
            middle:   { type: string }
            nickname: { type: string }
            display:  { type: string }
        description: { type: string }
        contact:
          type: object
          properties:
            phone_number:   { type: string, example: "(951) 555-1212" }
            mobile_number:  { type: string }
            business_email: { type: string, format: email }
            emails:         { type: array, items: { type: string, format: email } }
            phones:         { type: array, items: { type: string } }
        address:
          type: object
          properties:
            street_address: { type: string }
            city:           { type: string }
            state:          { type: string }
            zip:            { type: string }
            city_state:     { type: string }
        social:
          type: object
          description: WP-native contact-method keys
          properties:
            facebook:  { type: string }
            instagram: { type: string }
            linkedin:  { type: string }
            twitter:   { type: string }
            youtube:   { type: string }
            tiktok:    { type: string }
            mastodon:  { type: string }
            vimeo:     { type: string }
            pinterest: { type: string }
        credentials:
          type: object
          properties:
            nmls:                 { type: string }
            dre_license:          { type: string }
            license_number:       { type: string }
            license_state:        { type: string }
            license_type:         { type: string }
            mls_id:               { type: string }
            mls_short_name:       { type: string }
            member_mls_id:        { type: string }
            namb_certifications:  { type: array, items: { type: string } }
            nar_designations:     { type: array, items: { type: string } }
        employment:
          type: object
          properties:
            office:                   { type: string }
            region:                   { type: string }
            department:               { type: string }
            brand:                    { type: string }
            job_title:                { type: string }
            employer_name:            { type: string }
            employer_nmls:            { type: string }
            company_type:             { type: string }
            time_at_current_employer: { type: number }
            industry_tenure:          { type: string }
            jobs_last_10yr:           { type: integer }
            company_name:             { type: string }
            company_website:          { type: string, format: uri }
            aor_regional_director:    { type: string }
            aor_regional_advisor:     { type: string }
        regulatory:
          type: object
          properties:
            federally_registered:  { type: boolean }
            regulators:            { type: string }
            licensed_states_count: { type: integer }
        re_production:
          type: object
          description: Populated only for sales_associate. Sourced from MLS/Courted.
          properties:
            ltm_sales_volume:        { type: number }
            ltm_closed_transactions: { type: integer }
            ltm_closed_units:        { type: integer }
            ltm_avg_sale_price:      { type: number }
            ltm_est_gci:             { type: number }
            ltm_sales_volume_change: { type: number }
            active_listings:         { type: integer }
            pending_listings:        { type: integer }
            agent_tenure:            { type: number }
            time_at_current_office:  { type: number }
            office_rank:             { type: integer }
            most_transacted_city:    { type: string }
            transacted_cities:       { type: array, items: { type: string } }
            agent_type_tags:         { type: array, items: { type: string } }
        lo_production:
          type: object
          description: Populated only for loan_originator. Sourced from Modex.
          properties:
            ltm_loan_volume:        { type: number }
            ltm_loan_units:         { type: integer }
            ltm_avg_loan_amount:    { type: number }
            ltm_avg_monthly_volume: { type: number }
            loan_types:             { type: array, items: { type: string } }
            transaction_types:      { type: array, items: { type: string } }
            property_types:         { type: array, items: { type: string } }
            banked_or_brokered:     { type: string }
            does_reverse_mortgage:  { type: boolean }
            lender_beneficiaries:   { type: array, items: { type: string } }
            ltm_nonqm_volume:       { type: number }
            ltm_nonqm_units:        { type: integer }
        predictive:
          type: object
          properties:
            likelihood_to_move:           { type: string }
            future_growth_perc:           { type: string }
            sales_volume_prediction:      { type: number }
            sales_volume_prediction_low:  { type: number }
            sales_volume_prediction_high: { type: number }
        external_profiles:
          type: object
          properties:
            century21_url: { type: string, format: uri }
            zillow_url:    { type: string, format: uri }
            realtor_url:   { type: string, format: uri }
            ylopo_domain:  { type: string }
            moxi_domain:   { type: string }
            website:       { type: string, format: uri }
        tools:
          type: object
          properties:
            canva_folder_link:    { type: string, format: uri }
            realsatisfied_vanity: { type: string }
            arrive_link:          { type: string, format: uri }
            telegram_username:    { type: string }
            booking_url:          { type: string, format: uri }
            qr_code_data:         { type: string }
            profile_headline:     { type: string }
        vendor_ids:
          type: object
          description: Link-back identifiers to external systems. The ONLY place vendor names appear in this schema.
          properties:
            courted_id:    { type: string }
            modex_id:      { type: string }
            modex_url:     { type: string, format: uri }
            modex_score:   { type: integer }
            twenty_crm_id: { type: string }
        identity_provider:
          type: object
          description: Microsoft / Entra (managed by WPO365 — read-only)
          properties:
            aad_object_id:        { type: string, readOnly: true }
            aad_tenant_id:        { type: string, readOnly: true }
            user_principal_name:  { type: string, readOnly: true }
        lifecycle:
          type: object
          properties:
            status:      { type: string }
            first_login: { type: string, format: date-time }
            is_active:   { type: boolean }
            updated_at:  { type: string, format: date-time }
        places:
          type: array
          items:
            type: object
            properties:
              id:     { type: integer }
              name:   { type: string }
              type:   { type: string }
              parent: { type: string }
        sites:
          type: array
          items: { $ref: '#/components/schemas/Site' }

paths:
  /wp-json/frs/v1/people:
    get:
      tags: [People]
      summary: List people
      parameters:
        - { in: query, name: member_type, schema: { type: string, example: "loan_originator" } }
        - { in: query, name: office, schema: { type: string } }
        - { in: query, name: region, schema: { type: string } }
        - { in: query, name: search, schema: { type: string } }
        - { in: query, name: page, schema: { type: integer, default: 1 } }
        - { in: query, name: per_page, schema: { type: integer, default: 20, maximum: 100 } }
        - { in: query, name: fields, schema: { type: string, description: "CSV of top-level field groups to return" } }
      responses:
        '200':
          description: List of PersonProfile (paginated; total in X-WP-Total header).
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PersonProfile' }
    post:
      tags: [People]
      summary: Create a person (admin only)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PersonProfile' }
      responses:
        '200':
          description: Created PersonProfile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PersonProfile' }

  /wp-json/frs/v1/people/me:
    get:
      tags: [People]
      summary: Get authenticated current user
      security: []
      responses:
        '200':
          description: PersonProfile for the current user
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PersonProfile' }
    patch:
      tags: [People]
      summary: Partial self-update
      security: []
      responses:
        '200':
          description: Updated PersonProfile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PersonProfile' }

  /wp-json/frs/v1/people/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    get:
      tags: [People]
      summary: Get a person by wp_user_id
      responses:
        '200':
          description: PersonProfile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PersonProfile' }
        '404':
          description: Not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    patch:
      tags: [People]
      summary: Partial update (admin)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PersonProfile' }
      responses:
        '200':
          description: Updated PersonProfile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PersonProfile' }

  /wp-json/frs/v1/people/by-login/{login}:
    parameters:
      - { in: path, name: login, required: true, schema: { type: string } }
    get:
      tags: [People]
      summary: Get by user_login or user_nicename
      responses:
        '200':
          description: PersonProfile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PersonProfile' }

  /wp-json/frs/v1/people/by-nmls/{nmls}:
    parameters:
      - { in: path, name: nmls, required: true, schema: { type: string } }
    get:
      tags: [People]
      summary: Get by NMLS id
      responses:
        '200':
          description: PersonProfile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PersonProfile' }

  /wp-json/frs/v1/places:
    get:
      tags: [Places]
      summary: List places
      parameters:
        - { in: query, name: type,   schema: { type: string, enum: [office, region, department, project] } }
        - { in: query, name: parent, schema: { type: integer } }
      responses:
        '200':
          description: List of Place
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Place' }

  /wp-json/frs/v1/places/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    get:
      tags: [Places]
      summary: Get a place
      responses:
        '200':
          description: Place
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Place' }
    patch:
      tags: [Places]
      summary: Update a place (admin)
      security: []
      responses:
        '200':
          description: Updated Place
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Place' }

  /wp-json/frs/v1/places/{id}/people:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    get:
      tags: [Places]
      summary: List people in a place
      responses:
        '200':
          description: PersonProfile list
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PersonProfile' }

  /wp-json/frs/v1/people/{id}/sites:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    post:
      tags: [Sites]
      summary: Create a multisite blog owned by this person
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:            { type: string }
                path:            { type: string, description: "Multisite path; defaults to slug of name" }
                kind:            { type: string, default: agent }
                rebuild_webhook: { type: string, format: uri }
      responses:
        '200':
          description: Created Site
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Site' }

  /wp-json/frs/v1/places/{id}/sites:
    parameters:
      - { in: path, name: id, required: true, schema: { type: integer } }
    post:
      tags: [Sites]
      summary: Create a multisite blog owned by this place
      security: []
      responses:
        '200':
          description: Created Site
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Site' }

  /wp-json/frs/v1/sites/{blog_id}:
    parameters:
      - { in: path, name: blog_id, required: true, schema: { type: integer } }
    patch:
      tags: [Sites]
      summary: Update site metadata (admin)
      security: []
      responses:
        '200':
          description: Updated Site
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Site' }

  /wp-json/frs/v1/sites/{blog_id}/rebuild:
    parameters:
      - { in: path, name: blog_id, required: true, schema: { type: integer } }
    post:
      tags: [Sites]
      summary: Trigger a static-site rebuild (admin) via the n8n webhook
      security: []
      responses:
        '200':
          description: Queue status
          content:
            application/json:
              schema:
                type: object
                properties:
                  queued:  { type: boolean }
                  webhook: { type: string, format: uri }
                  reason:  { type: string }

  /wp-json/frs/v1/docs:
    get:
      tags: [Docs]
      summary: HTML index of docs
      security: []
      responses:
        '200': { description: HTML }

  /wp-json/frs/v1/openapi.yaml:
    get:
      tags: [Docs]
      summary: This file
      security: []
      responses:
        '200': { description: OpenAPI YAML }

  /wp-json/frs/v1/swagger-ui:
    get:
      tags: [Docs]
      summary: Interactive Swagger UI
      security: []
      responses:
        '200': { description: HTML }

  /wp-json/frs/v1/llms.txt:
    get:
      tags: [Docs]
      summary: LLM-optimized API documentation
      security: []
      responses:
        '200': { description: text/plain }
